html {
    /* Corregir a los rems */
    font-size: 62, 5%;
}

body {
    /* Utilizar la fuente de google */
    font-family: 'Inter', sans-serif;
    background-color: #E9ECF8;
    width: 100%;
}

header {
    margin: 3rem 0;
}


/* Centrar todos nuestros elementos del form */

.caja {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Creo una clase que de caracteristicas generales*/

.texto-encriptar {
    width: 90%;
    margin: 0 auto;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-align: center;
}


/* Para evitar que se foquse nuestro texarea */

.texto-encriptar:focus {
    outline: none;
}


/* Crarcteristicas espesificas a nuestra texarea */

textarea.texto-encriptar {
    background-color: transparent;
    color: #0A3871;
}


/* Caracteristicas especificas de nuestro contenedor de la traduccion */

div.texto-encriptar {
    padding: 3rem 0.8rem;
    height: auto;
    background-color: #fff;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 3rem auto;
    -webkit-box-shadow: -11px 32px 50px -23px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -11px 32px 50px -23px rgba(0, 0, 0, 0.42);
    box-shadow: -11px 32px 50px -23px rgba(0, 0, 0, 0.42);
}


/* Caracteristica Especifica de una parte de nuestro Texto */

.texto-encriptar span {
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1rem;
}


/* Oculta la imagen cuando no es requerida */

.imagenOculta {
    display: none;
}


/* Las caracteristicas de nuestro texto de indicasiones */

.indicasiones {
    width: 100%;
    text-align: center;
    color: #868E96;
    margin: 1rem 0;
}


/* Este es un contenedor para nuestros botones y puedan ser manipulados mas facilmente */

.caja-btn {
    width: 100%;
}


/* Caracteristicas Generales de los botones */

.btn {
    width: 90%;
    margin: .5rem auto;
    display: block;
    padding: 1rem;
    border: 2px solid #0A3871;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: #0a3871;
    transition: .3s all;
}


/* Caracteristicas que se modifican en el hover */

.btn:hover {
    cursor: pointer;
    background-color: #0A3871;
    color: #fff;
}


/* Clase que ocupo cuando tengo que ocultar elementos en pantalla*/

.oculto {
    display: none;
}


/* Clase que ocuapo para mostar cosas en pantalla */

.existe {
    display: block;
}


/* Caractrtisticas del footer */

.footer {
    text-align: center;
    margin: 1rem 0;
}


/* Media querys para adaptar el codigo a escritorio */

@media screen and (min-width: 1000px) {
    /* Caracteristicas que tomara body */
    .desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: calc(100% - 4rem);
        height: calc(100vh - 4rem);
        padding: 2rem;
    }
    /* posiciona al header */
    .header {
        grid-column: 1/4;
        height: 10%;
    }
    /* Posiciona a main */
    .main {
        height: 75vh;
        grid-column: 1/4;
    }
    /* Posiciona al footer*/
    .footer {
        grid-column: 1/5;
    }
    /* Ajusta el contenido */
    .caja {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    /* Ajusta el contenido */
    .traduccion {
        display: flex;
        height: 100%;
        min-width: 400px;
        grid-column: 4/5;
        grid-row: 1/3;
    }
    /* Merjora la lectura en escritorio */
    div.texto-encriptar {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    /* Muestra la imagen ocualta */
    .imagenOculta {
        display: block;
        width: 15rem;
    }
    /* Junta nuestros botones */
    .caja-btn {
        display: flex;
    }
    /* Reduce el tamaño del btn para ajustarlo a una sola linea */
    .caja-btn .btn {
        width: 45%;
    }
}