html {
    font-size: 62, 5%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E9ECF8;
    width: 100%;
}

.caja {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    margin: 3rem 0;
}

.texto-encriptar {
    width: 90%;
    margin: 0 auto;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.texto-encriptar:focus {
    outline: none;
}

textarea.texto-encriptar {
    background-color: transparent;
    color: #0A3871;
}

div.texto-encriptar {
    padding: 3rem 0.8rem;
    height: auto;
    background-color: #fff;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 3rem auto;
    -webkit-box-shadow: -11px 32px 50px -23px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -11px 32px 50px -23px rgba(0, 0, 0, 0.42);
    box-shadow: -11px 32px 50px -23px rgba(0, 0, 0, 0.42);
}

.texto-encriptar span {
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1rem;
}

.imagenOculta {
    display: none;
}

.caja-btn {
    width: 100%;
}

.indicasiones {
    width: 100%;
    text-align: center;
    color: #868E96;
    margin: 1rem 0;
}

.btn {
    width: 90%;
    margin: .5rem auto;
    display: block;
    padding: 1rem;
    border: 2px solid #0A3871;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: #0a3871;
    transition: .3s all;
}

.btn:hover {
    cursor: pointer;
    background-color: #0A3871;
    color: #fff;
}


/* .btn2 {
    background-color: #0A3871;
    color: #fff;
}

.btn2:hover {
    background-color: transparent;
    color: #0A3871;
} */

.oculto {
    display: none;
}

.existe {
    display: block;
}

footer {
    text-align: center;
    margin: 1rem 0;
}


/* Media querys para adaptar el codigo a escritorio */

@media screen and (min-width: 1000px) {
    .desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: calc(100% - 4rem);
        height: calc(100vh - 4rem);
        padding: 2rem;
    }
    .header {
        grid-column: 1/4;
        height: 10%;
    }
    .main {
        height: 75vh;
        grid-column: 1/4;
    }
    .caja {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .traduccion {
        display: flex;
        height: 100%;
        min-width: 400px;
        grid-column: 4/5;
        grid-row: 1/3;
    }
    div.texto-encriptar {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .imagenOculta {
        display: block;
        width: 15rem;
    }
    .caja-btn {
        display: flex;
    }
    .caja-btn .btn {
        width: 45%;
    }
    .footer {
        grid-column: 1/5;
    }
}